<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
<link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${ctxPath!}/plugins/layui/css/layui.css" media="all"/>
<link href="${ctxPath!}/plugins/fontawesome/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="${ctxPath!}/plugins/jquery/jquery.min.js"></script>
<link href="${ctxPath!}/plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet">
<script src="${ctxPath!}/plugins/contextMenu/jquery.contextMenu.min.js"></script>
<link rel="stylesheet" type="text/css" href="${ctxPath!}/css/fs.css?v=1.8.2" media="all"/>
<script type="text/javascript" src="${ctxPath!}/plugins/layui/layui.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/frame/js/fsDict.js?v=1.8.2"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/frame/js/fs.js?v=1.8.2"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/frame/js/main.js?v=1.8.2"></script>