.rulesBox {
  overflow: hidden;
}
.rulesBox .search {
  overflow: hidden;
}
.rulesBox .search button {
  border: none;
  outline: none;
  border-radius: 0;
  float: right;
  margin-right: 10px;
}
.rulesBox .cloudlist table tbody tr button {
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 12px;
}
.addRuleModal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
}
.addRuleModal .addRuleBox {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 400px;
  margin-left: -200px;
  background: #fff;
  box-shadow: 0 0 2px 3px #666;
  border-radius: 3px;
  padding: 20px;
}
.addRuleModal .addRuleBox .addRuleContent {
  width: 100%;
  height: 100%;
}
.addRuleModal .addRuleBox .addRuleContent .addRuleHead {
  font-size: 18px;
}
.addRuleModal .addRuleBox .addRuleContent .addRuleHead i {
  float: right;
  cursor: pointer;
}
.addRuleModal .addRuleBox .addRuleContent .addRuleFoot button {
  margin-right: 10px;
  border: 1px solid #4BACF1;
  outline: none;
  padding: 6px 19px;
}
.addRuleModal .addRuleBox .addRuleContent .addRuleFoot button:first-child {
  background-color: #fff;
  color: #4BACF1;
}
.addRuleModal .addRuleBox .addRuleContent .addRuleFoot button:last-child {
  background-color: #4BACF1;
  color: #fff;
}
