<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ahwater.tender.db.mapper.ModuleGrabLogMapper">

    <cache-ref namespace="net.ahwater.tender.db.mapper.ModuleGrabLogMapper"/>

    <insert id="batchInsert" parameterType="net.ahwater.tender.db.entity.BeanModuleGrabLog" keyProperty="id" useGeneratedKeys="true">
        insert into t_module_grab_log(module_id, start_time, end_time, grab_count, saved_count)
        values
        <foreach collection="list" item="item" separator=",">
            (item.moduleId, item.startTime, item.endTime, item.grabCount, item.savedCount)
        </foreach>
    </insert>

</mapper>
