<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ahwater.tender.db.mapper.PushLogMapper">

    <cache-ref namespace="net.ahwater.tender.db.mapper.PushLogMapper"/>

    <select id="pushCountToday" resultType="java.lang.Integer">
        select count(1)
        from t_push_log
        where user_id=#{userId}
        and date_format(create_time, '%Y-%m-%d')=date_format(now(), '%Y-%m-%d')
        and status!=1
    </select>

    <update id="updateStatusByIdsIn">
        update t_push_log
        set status=#{status}
        where 1=1
        <if test="ids != null and ids.size() > 0">
            and id in
            <foreach collection="ids" separator=", " item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="ids == null or ids.size() == 0">
            and 1=2
        </if>
    </update>

    <delete id="deletePushLogByWsidIn">
        delete from t_push_log
        where item_id in (
            select id
            from t_item
            where module_id in (
                select id
                from t_module
                where id in
                <foreach item="item" collection="wsids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            )
        )
    </delete>

</mapper>
